
<div class ="container">
  <nav>
    <ul>
      <li><a (click)="scrollToSection('what-is-ayurveda')">What is Ayurveda</a></li>
      <li><a (click)="scrollToSection('why-it-works')">Why it works</a></li>
      <li><a (click)="scrollToSection('how-it-works')">How it works</a></li>
    </ul>
  </nav>
</div>
<div>
  <h2>Health in Totality</h2>
  <p>
    Healthy living is about living wholly, in harmony with nature, our environment and our own core self. It is about integrating our mind, body and soul. Ayurveda, the ancient Indian system of healing and living, is the only one of its kind in the world that addresses the physical, emotional and spiritual aspects of our well being. With a therapeutic approach that gets to the core of our personality, behaviour and lifestyle, Ayurveda is more than a mere system for curing ailments; it in fact charts out a complete lifestyle for disease-free living.
    CGH Earth Ayurveda is part of the wellness wing of CGH Earth, who are the pioneers in responsible tourism in India, with a credible background spanning over five decades in offering uniquely immersive travel experiences. CGH Earth Ayurveda offers healthcare service which are about complete well-being based on the traditional and authentic Ayurvedic system of healing. What we offer to anyone seeking holistic healing is something that is rooted in the group’s own core values.
 </p>
 </div>
<br>
  <div id="what-is-ayurveda">
    <app-what-is-ayurveda></app-what-is-ayurveda>
  </div>
  <div id="why-it-works">
    <app-why-it-works></app-why-it-works>
  </div>
  <div id="how-it-works">
    <app-how-it-works></app-how-it-works>
  </div>
  

