<div class="container">
    <div class="left">
      <img src="assets/images/pranayama.jpeg" alt="Panchakarma" class="main-image">
      <!-- <div class="thumbnails">
        <img src="assets/thumbnail1.jpg" alt="Thumbnail 1">
        <img src="assets/thumbnail2.jpg" alt="Thumbnail 2">
        <img src="assets/thumbnail3.jpg" alt="Thumbnail 3">
        <img src="assets/thumbnail4.jpg" alt="Thumbnail 4">
        <img src="assets/thumbnail5.jpg" alt="Thumbnail 5">
      </div> -->
    </div>
    <div class="right">
      <h1>Panchakarma Treatment</h1>
      <h2>Sevayu Ayurveda Resort</h2>
      <div class="rating">
        ⭐⭐⭐⭐⭐ (56)
      </div>
      <ul>
        <li>Panchakarma therapy for (7 days/14 days/21 days).</li>
        <li>Accommodation (A large En suite room with 2 queen size bed).</li>
        <li>3 meals daily.</li>
      </ul>
      <p class="discount">Summer Sale up to 25% discount</p>
      <p class="price">
        <span class="current-price">$1,399.00 CAD</span>
        <span class="original-price">$1,800.00 CAD</span>
        <span class="discount-percentage">22% off</span>
      </p>
      <div class="booking">
        
        <!-- <label for="package">Choose Package:</label>
        <label for="guests">Guests:</label>
        <select id="guests">
          <option>1 Guest</option>
          <option>2 Guests</option>
        </select> -->
      </div>
    <button id="bookNowButton" (click)="navigateToRegister()" class="book-now">BOOK NOW</button>
    </div>
  </div>
  