<!-- src/app/what-is-ayurveda/what-is-ayurveda.component.html -->
<h2>What is Ayurveda</h2>
<div class="image-container">
    <img src="/assets/images/image2.png" alt="Centered Image" class="centered-image">
  </div>
<p>
    Ayurveda, a traditional system of medicine that originated in India over
     5,000 years ago, derives its name from the Sanskrit words "Ayur," 
     meaning life, and "Veda," meaning knowledge or science. It translates to "the science of life" and 
     offers a holistic approach to health and wellness by balancing the mind, body, and spirit. 
     Unlike Western medicine, which often
     focuses on treating symptoms, Ayurveda aims to address the root 
     cause of ailments by restoring harmony within the body.
    </p>
    <p>
        The fundamental principles of Ayurveda are based on the belief that everything in the universe, 
        including the human body, is composed of five elements: Earth (Prithvi), Water (Jala), Fire (Agni), Air (Vayu), 
        and Ether (Akasha). These elements combine in various ways to form three biological energies or doshas: 
        Vata, Pitta, and Kapha. Vata, composed of Air and Ether, governs movement and is responsible for processes 
        such as blood circulation, breathing, and the nervous system. Pitta, made up of Fire and Water, controls digestion, 
        metabolism, and energy production. Kapha, consisting of Earth and Water, manages growth, immunity, and body structure.
         Each individual has a unique combination of these doshas, which determines their physical and mental characteristics.
    </p>
    <p>
        Ayurvedic practices focus on maintaining a balance between these doshas to promote health and prevent disease.
         Diet and nutrition are fundamental aspects of this approach, emphasizing the importance of eating according to 
         one's dosha type and the seasons. Ayurvedic treatments also include herbal remedies, yoga, meditation, 
         and detoxification processes such as Panchakarma, which involves therapeutic vomiting, purgation, enemas,
          nasal administration of medicated oils, and blood purification. 
        These treatments aim to cleanse the body of toxins, strengthen the immune system, and restore balance.
    </p>
    <p>
        Overall, Ayurveda offers a comprehensive framework for living a healthy and balanced life. 
        By understanding and aligning with the natural rhythms of the body and the environment, 
        individuals can achieve optimal health and well-being. This ancient system of medicine continues to be relevant today, 
        providing valuable insights and practices for modern health challenges.
    </p>
    <div class="values-section">
        <div class="value-item">
          <img src="assets/images/image9.jpg" alt="Values - Integrated" class="value-image">
          <h3 class="value-heading">Values – Integrated</h3>
          <p class="value-description">All the three classical Ayurvedic texts namely ‘Sushruta Samhita’ ‘Charaka Samhita’ and ‘Ashtangahridaya Samhita’ by the ‘Ayurvedic Trinity Sushruta, Charaka and Vagbhata respectively lay great emphasis on the code of ethics to be followed by practitioners of Ayurveda including physicians, surgeons, scholars, students, nurses and patients. There is no deviation from these underlying ethics in any authentic practice of the Ayurvedic system of healing. This also necessitates a ...</p>
        </div>
        <div class="value-item">
          <img src="assets/images/image10.jpg" alt="Ancient Insights" class="value-image">
          <h3 class="value-heading">Ancient Insights</h3>
          <p class="value-description">Ayurveda dates back more than 2000 years originating in the Vedas, the ancient Hindu texts that contain practical information related to almost all aspects of life and is that branch of the Vedas which delves into the essence of right living and healing. Literally meaning the ‘knowledge or Science (‘veda’) of life’ (‘ayur’), Ayurveda is an amalgamation of different knowledge systems that combine to offer a right and healthy way of life that is disease free. Some of the underlying ...</p>
        </div>
        <div class="value-item">
          <img src="assets/images/image11.jpg" alt="Naturally Remedial" class="value-image">
          <h3 class="value-heading">Naturally Remedial</h3>
          <p class="value-description">Nature is the core of the Ayurvedic healing process. This means little or no dependence on chemicals and their toxic effects. Everything that Ayurveda prescribes is based on a scientific study of Nature: the herbs and their healing properties, the natural seasons and cycles and our own bio-rhythms tuned to them. The foods and medicines that Ayurveda prescribes are rooted in a knowledge base gathered from studying thousands and thousands of plants, ...</p>
        </div>
      </div>

