<div class="register-page-container">
  <div class="register-background"></div>
  <div class="register-content">
    <div class="register-container">
      <h2>Register</h2>
      <form class="register-form" (submit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" required>
        </div>
        <button type="submit">Register</button>
      </form>
      <p *ngIf="message" class="message">{{ message }}</p>
    </div>
  </div>
</div>
